{%extends 'master.html'%}
{%block contenido%}
<div class="panel panel-info">
		<div class="panel-heading">
				<h3 class="panel-title">Detalle Tipo de Equipo : {{tipoequipo}}</h3>						     
		</div>
		<div class="panel-body">		
			<table class="table table-bordered">
				<tr>
					<td width="30%">TIPO DE EQUIPO: </td>
					<td width="70%">{{tipoequipo.tipo_equipo}}</td>
				</tr>
				
			</table>			
			<h3>Equipos Asociados</h3>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>marca</th>
						<th>modelo</th>
						<th>año fabricación</th>
						<th>capacidad BTU</th>
					</tr>
				</thead>
				<tbody>		
				{%for equipo in tipoequipo.getEquipos%}				
				<tr>
					<td>{{equipo.marca}}</td>
					<td>{{equipo.nombre_modelo}}</td>
					<td>{{equipo.año_fabricacion}}</td>
					<td>{{equipo.capacidad_btu}}</td>
				</tr>
								
				{%endfor%}
				</tbody>	
			</table>
		</div>
		<div class="panel-footer">			
			<a href="{%url 'tipo_equipo.index'%}" class="btn btn-secondary">Regresar</a>
		</div>
	</div>
	
{%endblock%}

{%block js%}
<script type="text/javascript">
	$(document).ready(function(){	
		

	}); //fin del document.ready
</script>
{%endblock%}
