{%extends 'master.html'%}

{%block css%}
<style type="text/css">
	
</style>
{%endblock%}

{%block contenido%}
<div class="panel panel-success">
		<div class="panel-heading">
			{% if tipo_equipo.id_tipo_equipo %}
			<h3 class="panel-title">Editar Tipo De Equipo</h3>
			{% else %}
			<h3 class="panel-title">Insertar Tipo De Equipo</h3>
			{% endif %}
										     
		</div>
		<div class="panel-body">		
			<form method="post" class="form form-vertical" id="frm_nuevo_editar" autocomplete="off">
				{%csrf_token%}			
				<div class="row justify-content-md-center">			    
			    	<div class="form-group col-md-8">			          
			            <div class="input-group"><b>{{form.tipo_equipo.label}}</b></div>		
			            {{form.tipo_equipo}}
			            <div class="error">{{form.tipo_equipo.errors}}</div>	                      
			        </div>
			        		       
			    </div>				
			</form>
			
		</div>
		<div class="panel-footer">
			<button type="submit" class="btn btn-success" form="frm_nuevo_editar">GUARDAR</button>
			<a href="{%url 'tipo_equipo.index'%}" class="btn btn-secondary">Regresar</a>
		</div>
	</div>
	
{%endblock%}

{%block js%}
<script type="text/javascript">
	$(document).ready(function(){
		
		

	}); //fin del document.ready
</script>
{%endblock%}
