{%extends 'master.html'%}

{%block contenido%}
	<div class="panel panel-success">
		<div class="panel-heading">
				<h3 class="panel-title">Roles</h3>
					
				<div class="float-right">
					<a href="#" class="btn btn-success" title="Nuevo tipo"><span class="fa fa-plus"></span>Nuevo</a>
				</div>
						     
		</div>
		<div class="panel-body">		
			<div class="table-responsive">
				<table class="table table-th-block table-hover table-bordered" id="tbl_tipo_equipo" width="99.7%">
					<thead>
						<tr>
							<th width="10%">No.</th>
							<th width="80%">NOMBRE DE ROL</th>
							<th></th>
							<th width=""></th>
						</tr>
					</thead>
					<tbody>
					{%if object_list %}
					{%for rol in object_list%}
						<tr>
							<td>{{rol.id}}</td>
							<td>{{rol.name}}</td>
							<td>{{rol.permissions}}</td>
							<td class="btn-group d-flex">
																
								<a class="btn btn-secondary" title="Editar" href="{%url 'roles.actualizar' pk=rol.id%}"><span class="icon-note"></span></a>
							
								<a class="btn btn-danger" title="Eliminar" href="#"><span class="icon-trash "></span></a>											
							</td>
						</tr>
					{%endfor%}		

					{%endif%}			
					</tbody>
					
				</table>

			</div>
		</div>
	</div>
	
{%endblock%}

{%block js%}
<script type="text/javascript">
	$(document).ready(function(){
  
	    $('#tbl_tipo_equipo').DataTable(
	      {         
	          "lengthChange": false,
	           "autoWidth": true,              
	      });
  	});
</script>
{%endblock%}