{%extends 'master.html'%}

{%block css%}
<style type="text/css">
	
</style>
{%endblock%}

{%block contenido%}
<div class="panel panel-success">
		<div class="panel-heading">
			{% if proveedor.id_proveedor %}
			<h3 class="panel-title">Editar Proveedor</h3>
			{% else %}
			<h3 class="panel-title">Insertar Proveedor</h3>
			{% endif %}
										     
		</div>
		<div class="panel-body">		
			<form method="post" class="form form-vertical" id="frm_proveedor_nuevo" autocomplete="off">
				{%csrf_token%}			
				<div class="row justify-content-md-center">			    
			    	<div class="form-group col-md-8">			          
			            <div class="input-group"><b>{{form.nombre.label}}</b></div>		
			            {{form.nombre}}
			            <div class="error">{{form.nombre.errors}}</div>	                      
			        </div>
			        <div class="form-group col-md-8">			          
			            <div class="input-group"><b>{{form.direccion.label}}</b></div>		
			            {{form.direccion}}
			            <div class="error">{{form.direccion.errors}}</div>	                      
			        </div>
			        <div class="form-group col-md-8">			          
			            <div class="input-group"><b>{{form.nit.label}}</b></div>		
			            {{form.nit}}
			            <div class="error">{{form.nit.errors}}</div>	                      
			        </div>
			        <div class="form-group col-md-8">			          
			            <div class="input-group"><b>{{form.telefono_1.label}}</b></div>		
			            {{form.telefono_1}}
			            <div class="error">{{form.telefono_1.errors}}</div>	                      
			        </div>
			        <div class="form-group col-md-8">			          
			            <div class="input-group"><b>{{form.telefono_2.label}}</b></div>		
			            {{form.telefono_2}}
			            <div class="error">{{form.telefono_2.errors}}</div>	                      
			        </div>
					<div class="form-group col-md-8">			          
			            <div class="input-group"><b>{{form.email.label}}</b></div>		
			            {{form.email}}
			            <div class="error">{{form.email.errors}}</div>	                      
			        </div>
			        <div class="form-group col-md-8">			          
			            <div class="input-group"><b>{{form.responsable.label}}</b></div>		
			            {{form.responsable}}
			            <div class="error">{{form.responsable.errors}}</div>	                      
			        </div>		       
			    </div>
				{{form.errors}}
			</form>
			
		</div>
		<div class="panel-footer">
			<button type="submit" class="btn btn-success" form="frm_proveedor_nuevo">GUARDAR</button>
			<a href="{%url 'proveedores.index'%}" class="btn btn-secondary">Regresar</a>
		</div>
	</div>
	
{%endblock%}

{%block js%}
<script type="text/javascript">
	$(document).ready(function(){
		
		$(".datepicker2").datepicker({   
		    todayHighlight: true,
		    autoclose: true,
		});

		$('#telefono_1').mask('0000-0000');
		$('#telefono_2').mask('0000-0000');
		$('#nit').mask('9999-999999-999-9');

	}); //fin del document.ready
</script>
{%endblock%}
