{%extends 'master.html'%}
{%block contenido%}
<div class="panel panel-success">
		<div class="panel-heading">
				<h3 class="panel-title">Insertar Proveedor</h3>						     
		</div>
		<div class="panel-body">		
			<form method="post" class="form form-vertical" id="frm_proveedor_nuevo" autocomplete="off" action="{% url 'proveedores.nuevo' %}">
				{%csrf_token%}			
				<div class="row justify-content-md-center"> 

			    {%for element in form %}
			    	<div class="form-group col-md-8">			          
			            <div class="input-group"><b>{{element.label}}</b></div>		
			            {{element}}
			            <div class="error">{{element.errors}}</div>	                      
			        </div>
				{% endfor %}			       
			    </div>
				
			</form>
			
		</div>
		<div class="panel-footer">
			<button type="submit" class="btn btn-success" form="frm_proveedor_nuevo">GUARDAR</button>
			<a href="{%url 'proveedores.index'%}" class="btn btn-secondary">Regresar</a>
		</div>
	</div>
	
{%endblock%}

{%block js%}
<script type="text/javascript">
	$(document).ready(function(){
		
		$(".datepicker2").datepicker({   
		    todayHighlight: true,
		    autoclose: true,
		});

		$('#telefono_1').mask('0000-0000');
		$('#telefono_2').mask('0000-0000');
		$('#nit').mask('9999-999999-999-9');

	}); //fin del document.ready
</script>
{%endblock%}
