{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{% static 'img/logo.jpg' %}">
  <title>ElectroSave</title>

  <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
  <!-- Icons -->
  <link href="{%static 'css/simple-line-icons.css'%}" rel="stylesheet">

  <!-- Main styles for this application -->
  <link href="{%static 'css/style.css'%}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{%static 'plugins/datepicker/datepicker.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'plugins/font-awesome/css/font-awesome.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'plugins/alertifyjs/css/themes/default.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'plugins/datatable/jquery.dataTables.css'%}">

  <!-- Styles required by this views -->
  {%block css%}
  {%endblock%}

</head>


<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
  <header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">ElectroSave</a>
    <button class="navbar-toggler sidebar-minimizer d-md-down-none" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item d-md-down-none">
        <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
      </li>         
    </ul>
    <div class="float-rigth">
      {% if user.is_authenticated %}         
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.first_name }} {{ user.last_name }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{%url 'salir'%}">Salir</a>
          </div>
        </div>      
      {% endif %}       
    </div>

  </header>

  <div class="app-body">
    <div class="sidebar">
      <nav class="sidebar-nav">
        <ul class="nav">        

          <li class="nav-title">
            MENU
          </li>
          <li class="nav-item">
            <a href="{% url 'home'%}" class="nav-link"><i class="icon-home"></i>Inicio</a>
          </li>                 
          <li class="nav-item">
            <a href="{% url 'instituciones.index'%}" class="nav-link"><i class="icon-home"></i>INSTITUCIONES</a>
          </li>                   
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa  fa-suitcase"></i>PROVEEDORES</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">                
                <a href="{% url 'proveedores.index'%}" class="nav-link"><i class="fa fa-chevron-right"></i>Proveedores</a>                
              </li>
              <li class="nav-item">            
                <a href="{% url 'tipo_equipo.index'%}" class="nav-link"><i class="fa fa-chevron-right"></i>Tipos de equipo</a>
              </li>
              <li class="nav-item">                
                <a href="#" class="nav-link"><i class="fa fa-chevron-right"></i>Modelos</a>                
              </li>            
            </ul>
          </li>
        </ul>
      </nav>
      
    </div>

    <!-- Main content -->
    <main class="main">    

      <!-- /.conainer-fluid -->
      {%block contenido%}
        
      {%endblock%}
    </main>



  </div>

  <footer class="app-footer">
    <span><a href="#">ElectroSave</a> © 2018 all rigth reserved.</span>    
  </footer>

  <!-- Bootstrap and necessary plugins -->
  <script src="{% static 'js/jquery.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js'%}"></script>
  <script src="{% static 'plugins/alertifyjs/alertify.js'%}"></script>
  <script src="{% static 'plugins/datatable/jquery.dataTables.js'%}"></script>
  <script src="{% static 'plugins/mask/jquery.mask.min.js'%}"></script>
  <!-- CoreUI main scripts -->
  <script src="{% static 'js/app.js' %}"></script>

  {%block js%}
  {%endblock%}

</body>
</html>